.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
  
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}
  
.container button {
    background-color: #847644;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
}
  
.container button:hover {
    box-shadow: rgba(75, 74, 14, 0.863) 0px 3px 3px 0px;
    transform: scale(1.1);
}
  